<div>
    <!-- LABEL -->
    <div class="prm-form-header" ng-hide="rmCtrl.isReadOnly()">
        <h4 class="text-right">NEW CORE</h4>
    </div>
    <div class="prm-form-header" ng-show="rmCtrl.isReadOnly()">
        <h4 class="text-right">{{ rmCtrl.label }}</h4>
    </div>
    <div class="form-group row" ng-hide="rmCtrl.isReadOnly()">
        <div class="prm-label-elem">
            <label>Label</label>
        </div>
        <div class="prm-row-elem">
            <input class="form-control prm-text-input" type="text"  ng-model="rmCtrl.shape_label"
                   ng-readonly="!rmCtrl.isEditLabelModeActive()">
        </div>
    </div>
    <div class="form-group row" ng-hide="rmCtrl.isEditLabelModeActive() || rmCtrl.isReadOnly()">
        <div class="prm-row-elem input-group-btn text-right">
            <button class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                    ng-click="rmCtrl.activateEditLabelMode()"
                    ng-disabled="rmCtrl.drawInProgress()">
                <i class="icon-pen"></i>
            </button>
            <button class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                    ng-click="rmCtrl.resetLabel()"
                    ng-disabled="rmCtrl.drawInProgress()">
                <i class="icon-trash_can"></i>
            </button>
        </div>
    </div>
    <div class="form-group row" ng-show="rmCtrl.isEditLabelModeActive() && !rmCtrl.isReadOnly()">
        <div class="prm-row-elem input-group-btn text-right">
            <button class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                    ng-click="rmCtrl.abortEditLabelMode()">
                <i class="icon-cross_mark"></i>
            </button>
            <button class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                    ng-disabled="!rmCtrl.labelValid()"
                    ng-click="rmCtrl.setNewLabel()">
                <i class="icon-check"></i>
            </button>
        </div>
    </div>
    <!-- END OF LABEL -->
    <!-- NEW SHAPE CONTROLS -->
    <div class="form-group row"
         ng-hide="rmCtrl.isReadOnly() || rmCtrl.isPolygonToolActive() ||
          rmCtrl.isFreehandToolActive() || rmCtrl.shapeExists()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Draw core</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem text-right">
            <button class="btn btn-default prm-icon-btn"
                    ng-click="rmCtrl.newPolygon()"
                    ng-disabled="rmCtrl.isEditLabelModeActive()"
                    title="Draw the shape using the polygon drawing tool">
                <i class="icon-vector"></i>
            </button>
            <button class="btn btn-default prm-icon-btn"
                    ng-click="rmCtrl.newFreehand()"
                    ng-disabled="rmCtrl.isEditLabelModeActive()"
                    title="Draw the shape using the freehand drawing tool">
                <i class="icon-vector_pen"></i>
            </button>
        </div>
    </div>
    <!-- END OF NEW SHAPE CONTROLS -->
    <!-- NEW POLYGON TOOL CONTROLS -->
    <div class="form-group row" ng-show="rmCtrl.isPolygonToolActive()">
        <div class="prm-label-elem">
            <label>Polygon tool</label>
        </div>
        <div class="prm-form-elem text-right">
            <button class="btn btn-default prm-icon-btn" ng-hide="rmCtrl.isPolygonToolPaused()"
                    ng-click="rmCtrl.pausePolygonTool()" title="Put the tool on pause">
                <i class="icon-pause"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-show="rmCtrl.isPolygonToolPaused()"
                    ng-click="rmCtrl.unpausePolygonTool()" title="Resume the tool">
                <i class="icon-play"></i>
            </button>
            <button class="btn btn-default prm-icon-btn prm-left_margin_mini" ng-click="rmCtrl.rollbackPolygon()"
                    ng-disabled="!rmCtrl.polygonRollbackPossible()" title="Remove last point">
                <i class="icon-reply"></i>
            </button>
            <button class="btn btn-default prm-icon-btn prm-y-mirror prm-right_margin_mini"
                    ng-click="rmCtrl.restorePolygon()" title="Restore last removed point"
                    ng-disabled="!rmCtrl.polygonRestorePossible()">
                <i class="icon-reply"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.confirmPolygon()"
                    ng-disabled="!rmCtrl.temporaryPolygonExists()" title="Accept the shape">
                <i class="icon-check"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.abortTool()"
                    title="Discharge shape and abort tool">
                <i class="icon-cross_mark"></i>
            </button>
        </div>
    </div>
    <!-- END OF NEW POLYGON TOOL CONTROLS -->
    <!-- EXISTING SHAPE CONTROLS -->
    <div class="form-group row" ng-show="rmCtrl.shapeExists()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Core</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem text-right">
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.deleteShape(true)"
                    ng-disabled="rmCtrl.isRulerToolActive() || rmCtrl.isTumorRulerToolActive()
                     || rmCtrl.isEditLabelModeActive()"
                    ng-hide="rmCtrl.isReadOnly()" title="Delete the shape">
                <i class="icon-trash_can"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.focusOnShape()"
                    ng-disabled="rmCtrl.isRulerToolActive() || rmCtrl.isTumorRulerToolActive()
                    || rmCtrl.isEditLabelModeActive()"
                    title="Adapt the viewer to show the shape at the maximum size">
                <i class="icon-eye"></i>
            </button>
        </div>
    </div>
    <!-- END OF EXISTING SHAPE CONTROLS -->
    <!-- NEW FREEHAND DRAWING CONTROLS -->
    <div class="form-group row" ng-show="rmCtrl.isFreehandToolActive()">
        <div class="prm-label-elem">
            <label>Freehand tool</label>
        </div>
        <div class="prm-form-elem text-right">
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.pauseFreehandTool()"
                    ng-hide="rmCtrl.isFreehandToolPaused()"
                    title="Pause freehand drawing tool">
                <i class="icon-pause"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.unpauseFreehandTool()"
                    ng-show="rmCtrl.isFreehandToolPaused()"
                    title="Resume freehand drawing tool">
                <i class="icon-play"></i>
            </button>
            <button class="btn btn-default prm-icon-btn prm-left_margin_mini" ng-click="rmCtrl.rollbackFreehandShape()"
                    ng-disabled="!rmCtrl.shapeRollbackPossible() || !rmCtrl.isFreehandToolPaused()"
                    title="Restore previous step">
                <i class="icon-reply"></i>
            </button>
            <button class="btn btn-default prm-icon-btn prm-y-mirror prm-right_margin_mini"
                    ng-click="rmCtrl.restoreFreehandShape()"
                    ng-disabled="!rmCtrl.shapeRestorePossible() || !rmCtrl.isFreehandToolPaused()"
                    title="Revert last undone step">
                <i class="icon-reply"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.confirmFreehandShape()"
                    ng-disabled="!rmCtrl.isFreehandToolPaused() || !rmCtrl.temporaryShapeExists()"
                    title="Accept the shape">
                <i class="icon-check"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.abortTool()"
                    title="Abort tool">
                <i class="icon-cross_mark"></i>
            </button>
        </div>
    </div>
    <!-- END OF NEW FREEHAND DRAWING CONTROLS -->
    <!-- PARENT SLICE INFO -->
    <div class="form-group row" ng-show="rmCtrl.shapeExists() && !rmCtrl.isReadOnly()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Parent slice</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <input class="form-control prm-text-input" type="text" readonly
                   ng-model="rmCtrl.parentSlice.label">
        </div>
    </div>
    <!-- END OF PARENT SLICE INFO -->
    <!-- AREA INFO -->
    <div class="form-group row" ng-show="rmCtrl.shapeExists()">
        <div class="prm-label-elem">
            <label>Core area</label>
        </div>
        <div class="input-group prm-row-elem">
            <input class="form-control prm-text-input" type="number" readonly placeholder="0.00"
                   ng-model="rmCtrl.scaledCoreArea">
            <select ng-model="rmCtrl.coreAreaScaleFactor"
                    ng-options="x.unit_of_measure for x in rmCtrl.areaUOM"
                    ng-change="rmCtrl.updateCoreArea()"
                    required class="selectpicker"></select>
        </div>
    </div>
    <!-- END OF AREA INFO -->
    <!-- ACQUIRE CORE LENGTH -->
    <div id="acquire_core_measure" class="form-group row"
         ng-hide="rmCtrl.coreLengthExists() || rmCtrl.isRulerToolActive()
            || !rmCtrl.shapeExists() || rmCtrl.isReadOnly()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Core length</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem text-right">
            <button id="core_ruler_on" class="btn btn-default prm-icon-btn" ng-click="rmCtrl.startRuler()"
                    ng-disabled="rmCtrl.isTumorRulerToolActive() || rmCtrl.isEditLabelModeActive()"
                    title="Use the ruler tool to measure core's length">
                <i class="icon-measure"></i>
            </button>
        </div>
    </div>
    <div id="show_core_measure" class="form-group row"
         ng-show="rmCtrl.isRulerToolActive() || rmCtrl.coreLengthExists() || rmCtrl.isReadOnly()">
        <div class="prm-label-elem">
            <label>Core length</label>
        </div>
        <div class="input-group prm-row-elem">
            <input id="core_ruler_output" class="form-control prm-text-input" type="number"
                   readonly placeholder="0.00" ng-model="rmCtrl.scaledCoreLength">
            <select ng-model="rmCtrl.coreLengthScaleFactor"
                    ng-options="x.unit_of_measure for x in rmCtrl.lengthUOM"
                    ng-change="rmCtrl.updateCoreLength()"
                    required class="selectpicker"></select>
            <div class="input-group-btn">
                <button class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                        ng-hide="rmCtrl.isRulerToolActive() || rmCtrl.isReadOnly()"
                        ng-disabled="rmCtrl.isTumorRulerToolActive() || rmCtrl.isEditLabelModeActive()"
                        ng-click="rmCtrl.deleteRuler()" title="Delete the measure">
                    <i class="icon-trash_can"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group row" ng-show="rmCtrl.isRulerToolActive()">
        <div class="input-group prm-row-elem text-right">
            <div class="input-group-btn">
                <button id="core_ruler_abort" class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                        ng-click="rmCtrl.abortTool()"
                        title="Discharge measure and abort tool">
                    <i class="icon-cross_mark"></i>
                </button>
                <button id="core_ruler_off" class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                        ng-click="rmCtrl.stopRuler()"
                        ng-disabled="!rmCtrl.temporaryRulerExists()" title="Stop tool and accept measure">
                    <i class="icon-check"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="acquire_tumor_measure" class="form-group row"
         ng-hide="rmCtrl.tumorLengthExists() || rmCtrl.isTumorRulerToolActive()
            || !rmCtrl.shapeExists() || rmCtrl.isReadOnly()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Tumor length</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button id="tumor_ruler_on" class="btn btn-default prm-icon-btn" ng-click="rmCtrl.startTumorRuler()"
                    ng-disabled="rmCtrl.isRulerToolActive() || rmCtrl.isEditLabelModeActive()"
                    title="Use the ruler tool to measure tumor's length">
                <i class="icon-measure"></i>
            </button>
        </div>
    </div>
    <!-- END OF ACQUIRE CORE LENGTH -->
    <!-- SHOW CORE LENGTH MEASURE -->
    <div id="show_tumor_measure" class="form-group row"
         ng-show="rmCtrl.isTumorRulerToolActive() || rmCtrl.tumorLengthExists() || rmCtrl.isReadOnly()">
        <div class="prm-label-elem">
            <label>Tumor length</label>
        </div>
        <div class="input-group prm-row-elem">
            <input id="tumor_ruler_output" class="form-control prm-text-input" type="number"
                   readonly placeholder="0.00" ng-model="rmCtrl.scaledTumorLength">
            <select ng-model="rmCtrl.tumorLengthScaleFactor"
                    ng-options="x.unit_of_measure for x in rmCtrl.lengthUOM"
                    ng-change="rmCtrl.updateTumorLength()"
                    required class="selectpicker"></select>
            <div class="input-group-btn">
                <button class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                        ng-hide="rmCtrl.isTumorRulerToolActive() || rmCtrl.isReadOnly()"
                        ng-disabled="rmCtrl.isRulerToolActive() || rmCtrl.isEditLabelModeActive()"
                        ng-click="rmCtrl.deleteTumorRuler()"
                        title="Delete the measure">
                    <i class="icon-trash_can"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group row" ng-show="rmCtrl.isTumorRulerToolActive()">
        <div class="input-group prm-row-elem text-right">
            <div class="input-group-btn">
                <button id="tumor_ruler_abort" class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                        ng-click="rmCtrl.abortTool()"
                        title="Discharge measure and abort tool">
                    <i class="icon-cross_mark"></i>
                </button>
                <button id="tumor_ruler_off" class="btn btn-default prm-icon-btn prm-icon-btn-ruler"
                        ng-click="rmCtrl.stopTumorRuler()"
                        ng-disabled="!rmCtrl.temporaryRulerExists()" title="Stop tool and accept measure">
                    <i class="icon-check"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- END OF SHOW CORE LENGTH MEASURE -->
</div>
