<div>
    <div class="prm-form-header">
        <h4 class="text-right">NEW CORE</h4>
    </div>
    <div class="prm-form-header">
        <h4 class="text-right">CORE 1</h4>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Draw core</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-vector"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-vector_pen"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Polygon tool</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-pause"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-play"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-check"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Core</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-trash_can"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-eye"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Freehand tool</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-cross_mark"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Parent slice</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <input class="form-control prm-text-input" type="text" readonly placeholder="Slice x">
        </div>
    </div>
    <div id="acquire_measure" class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Core length</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-measure"></i>
            </button>
        </div>
    </div>
    <div id="show_measure" class="form-group row">
        <div class="prm-label-elem">
            <label>Core length</label>
        </div>
        <div class="input-group prm-row-elem">
            <!-- TODO: add required attribute -->
            <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
            <div class="input-group-addon prm-addon">mm</div>
            <div class="input-group-btn">
                <button class="btn btn-default prm-icon-btn">
                    <i class="icon-trash_can"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label>Core area</label>
        </div>
        <div class="input-group prm-row-elem">
            <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
            <div class="input-group-addon prm-addon">mm&sup2</div>
        </div>
    </div>
</div>