<div class="container">
    <div class="col-sm-12 row page-header prm-no-margin-top">
        <div class="col-sm-9 text-left prm-valign">
            <h3>ROIs MANAGER TEMPLATE</h3>
        </div><!--
     --><div class="col-sm-3 prm-valign text-center">
        <div class="btn-group dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="icon-plus"></i> New item <i class="icon-play prm-rotate-90 prm-caret"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">New slice</a></li>
                <li><a href="#">New core</a></li>
                <li><a href="#">New cellular region</a></li>
            </ul>
        </div>
        <button class="btn btn-danger">
            <i class="icon-trash_can"></i> Clear ROIs
        </button>
    </div>
    </div>
    <div class="col-sm-12 row">
        <div class="col-sm-2">
            <div id="navigation" class="well panel-group prm-tree-well">
                <div class="prm-form-header">
                    <h4 class="text-left">ROIs</h4>
                </div>
                <ul class="list-group">
                    <!--  rois_tree -->
                </ul>
            </div>
        </div>
        <div id="viewer_container" class="col-sm-7 viewer_frame well">
            <annotations-viewer></annotations-viewer>
        </div>
        <div id="promort_form" class="col-sm-3">
            <div class="well">

                <!-- form_templates -->

            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center row">
        <a href="#" role="button" class="btn btn-default prm-control-btn-lg">
            <i class="icon-arrow_big_left"></i> Back to slides
        </a>
        <a href="#" role="button" class="btn btn-default prm-control-btn-lg">
            Go to review <i class="icon-arrow_big_right"></i>
        </a>
    </div>
</div>