<div class="container_fluid">
    <div id="pg_header" class="page-header prm-no-margin-top prm-lateral_margin">
        <div class="col-sm-5 text-left prm-valign">
            <h3>ROIs editing - Slide {{ rmc.slide_index }}</h3>
        </div><!--
     --><div class="col-sm-7 prm-valign text-right">
            <a href="worklist/rois_annotations/{{ rmc.annotation_label }}" role="button" class="btn btn-default">
                <i class="icon-arrow_big_left"></i> Back to slides
            </a>
            <div class="btn-group dropdown">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        ng-disabled="rmc.newItemCreationModeActive() || rmc.editItemModeActive()">
                    <i class="icon-plus"></i> New item <i class="icon-play prm-rotate-90 prm-caret"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="rmc.activateNewSliceMode()">New slice</a></li>
                    <li><a href="#" ng-click="rmc.activateNewCoreMode()"
                           ng-show="rmc.getSlicesCount() > 0">New core</a></li>
                    <li><a href="#" ng-click="rmc.activateNewFocusRegionMode()"
                           ng-show="rmc.getCoresCount() > 0">New focus region</a></li>
                </ul>
            </div>
            <button class="btn btn-success" ng-click="rmc.closeROIsAnnotationStep()"
                    ng-disabled="rmc.getSlicesCount() == 0 || rmc.newItemCreationModeActive() || rmc.editItemModeActive()">
                <i class="icon-check_circle"></i> Confirm ROIs
            </button>
            <button class="btn btn-danger" ng-click="rmc.clearROIs()"
                    ng-disabled="rmc.getSlicesCount() == 0 || rmc.newItemCreationModeActive() || rmc.editItemModeActive()">
                <i class="icon-trash_can"></i> Clear ROIs
            </button>
        </div>
    </div>
    <div id="pg_body" class="col-sm-12">
        <div class="col-sm-3 col-md-2">
            <viewer-navigation-panel></viewer-navigation-panel>
            <div id="navigation" class="well panel-group prm-tree-well">
                <div class="prm-form-header">
                    <h4 class="text-left">ROIs list</h4>
                </div>
                <ul id="rois_tree" class="list-group">
                    <!--  rois_tree -->
                </ul>
            </div>
        </div>
        <div id="viewer_container" class="col-sm-6 col-md-8 prm-viewer_frame well">
            <roi-annotations-viewer></roi-annotations-viewer>
        </div>
        <div id="promort_form" class="col-sm-3 col-md-2">
            <div class="well">
                <div ng-controller="NewScopeController as nsc" ng-show="rmc.newSliceModeActive()">
                    <new-slice-form></new-slice-form>
                    <new-slice-buttons></new-slice-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="rmc.showSliceModeActive()">
                    <show-slice-details></show-slice-details>
                    <show-slice-buttons></show-slice-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="rmc.newCoreModeActive()">
                    <new-core-form></new-core-form>
                    <new-core-buttons></new-core-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="rmc.showCoreModeActive()">
                    <show-core-details></show-core-details>
                    <show-core-buttons></show-core-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="rmc.newFocusRegionModeActive()">
                    <new-focus-region-form></new-focus-region-form>
                    <new-focus-region-buttons></new-focus-region-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="rmc.showFocusRegionModeActive()">
                    <show-focus-region-details></show-focus-region-details>
                    <show-focus-region-buttons></show-focus-region-buttons>
                </div>
            </div>
        </div>
    </div>
</div>
