<div>
    <div class="prm-form-header" ng-hide="rmCtrl.isReadOnly()">
        <h4 class="text-right">NEW SLICE</h4>
    </div>
    <div class="prm-form-header" ng-show="rmCtrl.isReadOnly()">
        <!-- TODO: put real slice label here -->
        <h4 class="text-right">{{ rmCtrl.label }}</h4>
    </div>
    <div class="form-group row"
         ng-hide="rmCtrl.isReadOnly() || rmCtrl.isPolygonToolActive() ||
          rmCtrl.isFreehandToolActive() || rmCtrl.shapeExists()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Draw slice</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.newPolygon()">
                <i class="icon-vector"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.newFreehand()">
                <i class="icon-vector_pen"></i>
            </button>
        </div>
    </div>
    <div class="form-group row" ng-show="rmCtrl.isPolygonToolActive()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Polygon tool</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" ng-hide="rmCtrl.isPolygonToolPaused()"
                    ng-click="rmCtrl.pausePolygonTool()">
                <i class="icon-pause"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-show="rmCtrl.isPolygonToolPaused()"
                    ng-click="rmCtrl.unpausePolygonTool()">
                <i class="icon-play"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.confirmPolygon()">
                <i class="icon-check"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.abortTool()">
                <i class="icon-cross_mark"></i>
            </button>
        </div>
    </div>
    <div class="form-group row" ng-show="rmCtrl.shapeExists()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Slice</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.deleteShape(true)"
                    ng-hide="rmCtrl.isReadOnly()">
                <i class="icon-trash_can"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" ng-click="rmCtrl.focusOnShape()">
                <i class="icon-eye"></i>
            </button>
        </div>
    </div>
    <div class="form-group row" ng-show="rmCtrl.isFreehandToolActive()">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Freehand tool</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button id="slice_freehand_abort" class="btn btn-default prm-icon-btn"
                    ng-click="rmCtrl.abortTool()">
                <i class="icon-cross_mark"></i>
            </button>
        </div>
    </div>
    <div class="form-group row" ng-show="rmCtrl.shapeExists()">
        <div class="prm-label-elem">
            <label>Number of cores</label>
        </div>
        <div class="prm-row-elem" ng-hide="rmCtrl.isReadOnly()">
            <input class="form-control" id="spinner" type="number"
                   ng-model="rmCtrl.totalCores">
        </div>
        <div class="prm-row-elem" ng-show="rmCtrl.isReadOnly()">
            <input class="form-control prm-text-input" type="number" readonly ng-model="rmCtrl.totalCores">
        </div>
    </div>
</div>
