<div>
    <div class="prm-form-header">
        <h4 class="text-right">NEW SLICE</h4>
    </div>
    <div class="prm-form-header">
        <h4 class="text-right">SLICE 1</h4>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Draw slice</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-vector"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-vector_pen"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Polygon tool</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-pause"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-play"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-check"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Slice</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-trash_can"></i>
            </button>
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-eye"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Freehand tool</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn">
                <i class="icon-cross_mark"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label>Number of cores</label>
        </div>
        <div class="prm-row-elem">
            <!-- TODO: check for required attribute -->
            <input class="form-control" id="spinner" type="number">
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#spinner").TouchSpin();
</script>