<div class="container">
    <div class="col-sm-12 row page-header prm-no-margin-top">
        <div class="col-sm-9 text-left prm-valign">
            <h3>ROIs REVIEW TEMPLATE</h3>
        </div><!--
     --><div class="col-sm-3 text-right prm-valign">
            <a href="#" role="button" class="btn btn-default">
                <i class="icon-list"></i> Back to slides
            </a>
        </div>
    </div>
    <div class="col-sm-12 row">
        <div class="col-sm-2">
            <div id="navigation" class="well panel-group prm-tree-well">
                <div class="prm-form-header">
                    <h4 class="text-left">ROIs</h4>
                </div>
                <ul class="list-group">
                    <!-- rois_tree -->
                </ul>
            </div>
        </div>
        <div id="viewer_container" class="col-sm-7 prm-viewer_frame well">
            <div class="text-center">
                <h1>OME_SEADRAGON VIEWER</h1>
            </div>
        </div>
        <div id="promort_form" class="col-sm-3">
            <div class="well">

                <!-- form_templates -->

            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center row">
        <a href="#" role="button" class="btn btn-default prm-control-btn-lg">
            <i class="icon-arrow_big_left"></i> Back to ROIs
        </a>
        <a href="#" role="button" class="btn btn-default prm-control-btn-lg">
            Review summary <i class="icon-arrow_big_right"></i>
        </a>
    </div>
</div>

<script type="text/javascript">
    $("#spinner").TouchSpin({
        min: 0,
        max: 100,
        postfix: '%',
    });
</script>