<div>
    <div class="form-group row prm-control-row">
        <button class="btn btn-warning prm-control-btn">
            <i class="icon-reply"></i> Abort
        </button>
        <button class="btn btn-primary prm-control-btn">
            <i class="icon-cloud_upload"></i> Save
        </button>
    </div>
    <div class="form-group row prm-control-row">
        <button class="btn btn-danger prm-control-btn">
            <i class="icon-trash_can"></i> Delete
        </button>
        <button class="btn btn-success prm-control-btn">
            <i class="icon-pen"></i> Edit
        </button>
    </div>
</div>