<div>
    <div class="prm-form-header">
        <h4 class="text-right">CORE 1</h4>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Core length</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
                <div class="input-group-addon prm-addon">mm</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Core area</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
                <div class="input-group-addon prm-addon">mm&sup2</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Normal tissue</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
                <div class="input-group-addon prm-addon">%</div>
            </div>
        </div>
    </div>
    <fieldset>
        <legend class="prm-legend text-">grading</legend>
        <div class="form-group row">
            <div class="col-sm-8 prm-valign prm-label-elem">
                <label>Primary Gleason grade</label>
            </div><!--
         --><div class="col-sm-4 prm-valign prm-form-elem">
                <select class="form-control  prm-text-input">
                    <option value="" selected disabled></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8 prm-valign prm-label-elem">
                <label>Secondary Gleason grade</label>
            </div><!--
         --><div class="col-sm-4 prm-valign prm-form-elem">
                <select class="form-control  prm-text-input">
                    <option value="" selected disabled></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 prm-valign prm-label-elem">
                <label>Gleason score</label>
            </div><!--
         --><div class="col-sm-6 prm-valign prm-form-elem">
                <input type="number" readonly class="form-control prm-text-input" placeholder="I°+II°">
            </div>
        </div>
        <div class="form-group row">
            <div class="prm-label-elem">
                <label>Gleason grade 4</label>
            </div>
            <div class="prm-row-elem">
                <div class="input-group">
                    <input class="form-control promort_input_element" id="spinner" type="number" placeholder="0.00">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 prm-valign prm-label-elem">
                <label>Grade group WHO </label>
            </div><!--
         --><div class="col-sm-6 prm-valign prm-form-elem">
                <input type="number" readonly class="form-control prm-text-input" placeholder="">
            </div>
        </div>
    </fieldset>
</div>