<div>
    <div class="prm-form-header">
        <h4 class="text-right">REGION 1</h4>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox" checked disabled>Tumor area
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Region length</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
                <div class="input-group-addon prm-addon">mm</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>Region area</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
                <div class="input-group-addon prm-addon">mm&sup2</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>ROI/Core</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
                <div class="input-group-addon prm-addon">%</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">Perineural involvement
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">Intraductal carcinoma
            </label>
        </div>
    </div>
    <fieldset class="promort_fieldset">
        <legend class="prm-legend">patterns</legend>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Poorly formed glands
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Cribriform pattern
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Small cell/signet ring
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Hypernephroid pattern
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Mucinous
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Comedo-necrosis
            </label>
        </div>
    </fieldset>
</div>