<div>
    <div class="prm-form-header">
        <h4 class="text-right">SLICE 1</h4>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label> No. of cores</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <input type="number" class="form-control prm-text-input" readonly placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label> No. of positive cores</label>
        </div><!--
     --><div class="col-sm-6 prm-valign prm-form-elem">
            <input type="number" class="form-control prm-text-input" readonly placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">High grade PIN
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">PAH
            </label>
        </div>
    </div>
    <fieldset>
        <legend class="prm-legend">inflammation</legend>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Chronic
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Acute
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Periglandular
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Intraglandular
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Stromal
            </label>
        </div>
    </fieldset>
</div>
