<div>
    <div class="prm-form-header">
        <h4 class="text-right">{{ cmCtrl.focus_region_label }}</h4>
    </div>
    <div class="form-group row">
        <fieldset class="form-group prm-row-elem">
            <label for="tissueStatus">Tissue status</label>
            <select class="form-control" id="tissueStatus" ng-model="cmCtrl.focusRegionTissueStatus" disabled>
                <option value="NORMAL" selected>Normal</option>
                <option value="STRESSED">Stressed</option>
                <option value="TUMOR">Tumor</option>
            </select>
        </fieldset>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label>Focus region area</label>
        </div>
        <div class="input-group prm-row-elem">
            <input class="form-control prm-text-input" type="number" readonly placeholder="0.00"
                   ng-model="cmCtrl.scaledRegionArea">
            <select ng-model="cmCtrl.regionAreaScaleFactor"
                    ng-options="x.unit_of_measure for x in cmCtrl.areaUOM"
                    ng-change="cmCtrl.updateRegionArea()"
                    required class="selectpicker"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label>ROI/Core</label>
        </div>
        <div class="prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00"
                       ng-model="cmCtrl.coreCoveragePercentage">
                <div class="input-group-addon prm-addon">%</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label>Focus region length</label>
        </div>
        <div class="input-group prm-row-elem">
            <input class="form-control prm-text-input" type="number" readonly placeholder="0.00"
                   ng-model="cmCtrl.scaledRegionLength">
            <select ng-model="cmCtrl.regionLengthScaleFactor"
                    ng-options="x.unit_of_measure for x in cmCtrl.lengthUOM"
                    ng-change="cmCtrl.updateRegionLength()"
                    required class="selectpicker"></select>
        </div>
    </div>

    <div class="form-group row" ng-hide="cmCtrl.isReadOnly() && !cmCtrl.isCancerousRegion()">
        <div class="prm-label-elem">
            <label>Region cells count</label>
        </div>
        <div class="prm-row-elem">
            <input class="form-control" type="number" ng-model="cmCtrl.cellsCount"
                   ng-readonly="cmCtrl.isLocked() || cmCtrl.isReadOnly() || cmCtrl.gleason4ToolActive()">
        </div>
    </div>

    <fieldset class="promort_fieldset" ng-hide="cmCtrl.isLocked() || cmCtrl.isStressedRegion()">
        <legend class="prm-legend">Gleason 4 Data</legend>

        <!-- ACQUIRE NEW GLEASON 4 AREA -->
        <div class="form-group row" ng-hide="cmCtrl.gleason4ToolActive() || cmCtrl.isReadOnly()">
            <div class="col-sm-12 text-center prm-valign prm-form-elem">
                <button id="new_gleason_4" class="btn btn-default"
                        ng-click="cmCtrl.startGleason4Tool()"
                        ng-disabled="cmCtrl.cellularDensityHelperActive()">
                    Add Gleason 4 Element
                </button>
            </div>
        </div>
        <!-- ACQUIRE NEW GLEASON 4 AREA -->

        <!-- NEW GLEASON 4 ELEMENT -->
        <div class="form-group row"
             ng-hide="cmCtrl.isReadOnly() || cmCtrl.rulerToolActive() || cmCtrl.rulerExists() ||
                !cmCtrl.gleason4ToolActive()">
            <div class="col-sm-7 prm-valign prm-label-elem">
                <label>Draw region</label>
            </div><!--
         --><div class="col-sm-5 prm-valign prm-form-elem text-right">
                <button id="area_ruler_switch_on" class="btn btn-default prm-icon-btn"
                        ng-click="cmCtrl.startRuler()"
                        ng-disabled="cmCtrl.cellularDensityHelperActive() || cmCtrl.g4CellularDensityHelperActive()"
                        title="Draw the shape using the freehand drawing tool">
                    <i class="icon-vector_pen"></i>
                </button>
            </div>
        </div>
        <!--------------------------->

        <!-- GLEASON 4 TOOL ACTIVE -->
        <div class="form-group row" ng-show="cmCtrl.rulerToolActive()"
             ng-hide="cmCtrl.isReadOnly() || cmCtrl.rulerExists() || !cmCtrl.rulerToolActive()">
            <div class="prm-label-elem">
                <label>Pattern 4 tool</label>
            </div>
            <div class="prm-form-elem text-right">
                <button class="btn btn-default prm-icon-btn" ng-click="cmCtrl.pauseRuler()"
                        ng-hide="cmCtrl.isRulerPaused()" title="Pause Gleason 4 tool">
                    <i class="icon-pause"></i>
                </button>
                <button class="btn btn-default prm-icon-btn" ng-click="cmCtrl.unpauseRuler()"
                        ng-show="cmCtrl.isRulerPaused()" title="Resume Gleason 4 tool">
                    <i class="icon-play"></i>
                </button>
                <button class="btn btn-default prm-icon-btn prm-left_margin_mini" ng-click="cmCtrl.rollbackRuler()"
                        ng-disabled="!cmCtrl.isRulerPaused() || !cmCtrl.rulerRollbackPossible()"
                        title="Restore previous step">
                    <i class="icon-reply"></i>
                </button>
                <button class="btn btn-default prm-icon-btn prm-y-mirror prm-right_margin_mini"
                        ng-click="cmCtrl.restoreRuler()"
                        ng-disabled="!cmCtrl.isRulerPaused() || !cmCtrl.rulerRestorePossible()"
                        title="Restore last undone step">
                    <i class="icon-reply"></i>
                </button>
                <button class="btn btn-default prm-icon-btn" ng-click="cmCtrl.confirmRuler()"
                        ng-disabled="!cmCtrl.isRulerPaused() || !cmCtrl.temporaryRulerValid()"
                        title="Accept temporary Gleason 4">
                    <i class="icon-check"></i>
                </button>
                <button class="btn btn-default prm-icon-btn" ng-click="cmCtrl.abortRuler()"
                        title="Abort tool">
                    <i class="icon-cross_mark"></i>
                </button>
            </div>
        </div>
        <!--------------------------->

        <!-- SHOW GLEASON 4 DATA -->
        <div id="show_area_measure" class="form-group row" ng-show="!cmCtrl.isReadOnly() && cmCtrl.rulerExists()">
            <div class="prm-label-elem">
                <label>Region area</label>
            </div>
            <div class="input-group prm-row-elem">
                <input id="gleason_4_area_output" class="form-control prm-text-input" type="number"
                       readonly ng-model="cmCtrl.tmpG4ShapeArea">
                <!-- TODO: insert unit of measure selector -->
                <div class="input-group-btn">
                    <button class="btn btn-default prm-icon-btn" ng-click="cmCtrl.clearRuler()"
                            ng-disabled="cmCtrl.cellularDensityHelperActive() || cmCtrl.g4CellularDensityHelperActive()"
                            ng-hide="cmCtrl.isReadOnly()" title="Delete the shape">
                        <i class="icon-trash_can"></i>
                    </button>
                    <button class="btn btn-default prm-icon-btn" ng-click="cmCtrl.showHideRuler()"
                            ng-disabled="cmCtrl.cellularDensityHelperActive() || cmCtrl.g4CellularDensityHelperActive()
                                || !cmCtrl.rulerExists()"
                            title="Adapt the viewer to show the shape at the maximum size">
                        <i class="show_ruler icon-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <!------------------------->

        <!-- GLEASON 4 CELLS COUNT -->
        <div class="form-group row" ng-show="cmCtrl.gleason4ToolActive()">
            <div class="prm-label-elem">
                <label>Cells count</label>
            </div>
            <div class="prm-row-elem">
                <input class="form-control" type="number" ng-model="cmCtrl.tmpG4CellsCount"
                       ng-readonly="cmCtrl.rulerToolActive() || !cmCtrl.rulerExists()">
            </div>
        </div>
        <!--------------------------->

        <!-- TEMPORARY GLEASON 4 CONTROLS -->
        <div class="form-group row" ng-hide="cmCtrl.isReadOnly() || !cmCtrl.gleason4ToolActive()">
            <div class="col-sm-12 prm-row-elem text-right">
                <button class="btn btn-default prm-icon-btn"
                        ng-click="cmCtrl.acceptTemporaryGleason4()"
                        ng-disabled="!cmCtrl.gleason4DataValid()">
                    <i class="icon-check"></i>
                </button>
                <button class="btn btn-default prm-icon-btn"
                        ng-click="cmCtrl.abortGleason4Tool()">
                    <i class="icon-cross_mark"></i>
                </button>
            </div>
        </div>
        <!---------------------------------->

        <!-- EXISTING GLEASON 4 ELEMENTS LIST READ-WRITE MODE -->
        <div class="form-group row" ng-hide="cmCtrl.gleason4ToolActive() || cmCtrl.isReadOnly()">
            <div class="col-sm-12 prm-row-elem" ng-repeat="g4_label in cmCtrl.gleason4ElementsLabels">
                <div class="prm-label-elem prm-valign col-sm-7">
                    <label>{{ g4_label }}</label>
                </div><!--
             --><div class="prm-valign prm-form-elem text-right col-sm-5">
                    <button class="btn btn-default prm-icon-btn"
                            ng-click="cmCtrl.showHideGleason4Element(g4_label)">
                        <i id="{{ g4_label }}" class="icon-eye"></i>
                    </button>
                    <button class="btn btn-default prm-icon-btn"
                            ng-click="cmCtrl.deleteGleason4Element(g4_label)">
                        <i class="icon-cross_mark"></i>
                    </button>
                </div>
            </div>
        </div>
        <!---------------------------------->

        <!-- EXISTING GLEASON 4 ELEMENTS LIST READ-ONLY MODE -->
        <div class="form-group row" ng-show="cmCtrl.isReadOnly()">
            <div class="col-sm-12 prm-row-elem" ng-repeat="g4_label in cmCtrl.gleason4ElementsLabels">
                <div class="prm-label-elem prm-valign col-sm-7">
                    <label>{{ g4_label }}</label>
                </div><!--
             --><div class="prm-valign prm-form-elem text-right col-sm-5">
                    <button class="btn btn-default prm-icon-btn"
                            ng-click="cmCtrl.showHideGleason4Element(g4_label)">
                        <i id="{{ g4_label }}_ro" class="icon-eye prm-pale-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <!---------------------------------->
    </fieldset>

    <fieldset class="promort_fieldset" ng-hide="cmCtrl.isLocked()">
        <legend class="prm-legend">patterns</legend>
        <!-- tumor region paths -->
        <div ng-show="cmCtrl.isCancerousRegion()">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.perineuralInvolvement"
                           ng-disabled="cmCtrl.isReadOnly()">Perineural involvement
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.intraductalCarcinoma"
                           ng-disabled="cmCtrl.isReadOnly()">Intraductal carcinoma
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.poorlyFormedGlands"
                           ng-disabled="cmCtrl.isReadOnly()"> Poorly formed glands
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.cribriformPattern"
                           ng-disabled="cmCtrl.isReadOnly()"> Cribriform pattern
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.smallCellSignetRing"
                           ng-disabled="cmCtrl.isReadOnly()"> Small cell/signet ring
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.hypernephroidPattern"
                           ng-disabled="cmCtrl.isReadOnly()"> Hypernephroid pattern
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.mucinous"
                           ng-disabled="cmCtrl.isReadOnly()"> Mucinous
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.comedoNecrosis"
                           ng-disabled="cmCtrl.isReadOnly()"> Comedo-necrosis
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.ductalCarcinoma"
                           ng-disabled="cmCtrl.isReadOnly()"> Ductal carcinoma
                </label>
            </div>
        </div>
        <div ng-show="cmCtrl.isStressedRegion()">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.inflammation"
                           ng-disabled="cmCtrl.isReadOnly()">Inflammation
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.pah"
                           ng-disabled="cmCtrl.isReadOnly()">PAH
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.atrophicLesions"
                           ng-disabled="cmCtrl.isReadOnly()">Atrophic Lesions
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cmCtrl.adenosis"
                           ng-disabled="cmCtrl.isReadOnly()">Adenosis
                </label>
            </div>
        </div>
    </fieldset>
</div>