<div class="container_fluid">
    <div id="pg_header" class="page-header prm-no-margin-top prm-lateral_margin">
        <div class="col-sm-5 text-left prm-valign">
            <h3>Clinical annotation - Slide {{ cmc.slide_index }}</h3>
        </div><!--
     --><div class="col-sm-7 prm-valign text-right">
            <a href="worklist/clinical_annotations/{{ cmc.clinical_annotation_label }}" role="button"
               class="btn btn-default">
                <i class="icon-arrow_big_left"></i> Back to slides
            </a>
            <button class="btn btn-danger" ng-click="cmc.rejectAnnotation()" ng-disabled="cmc.newClinicalAnnotationModeActive()">
                <i class="icon-cancel_circle"></i> Reject slide review
            </button>
            <button class="btn btn-success" ng-disabled="!cmc.canCloseAnnotation() || cmc.newClinicalAnnotationModeActive()"
                    ng-click="cmc.closeAnnotation()">
                <i class="icon-check_circle"></i> Confirm slide review
            </button>
            <button class="btn btn-danger" ng-disabled="!cmc.canClearAnnotations() || cmc.newClinicalAnnotationModeActive()"
                    ng-click="cmc.clearAnnotations()">
                <i class="icon-trash_can"></i> Delete slide review
            </button>
        </div>
    </div>
    <div id="pg_body" class="col-sm-12">
        <div class="col-sm-3 col-md-2">
            <viewer-navigation-panel></viewer-navigation-panel>
            <div id="navigation" class="well panel-group prm-tree-well">
                <div class="prm-form-header">
                    <h4 class="text-left">ROIs list</h4>
                </div>
                <ul id="rois_tree" class="list-group">
                    <!-- rois_tree -->
                </ul>
            </div>
        </div>
        <div id="viewer_container" class="col-sm-6 col-md-8 prm-viewer_frame well">
            <clinical-annotations-viewer></clinical-annotations-viewer>
        </div>
        <div id="promort_form" class="col-sm-3 col-md-2">
            <div class="well">
                <div ng-controller="NewScopeController as nsc" ng-show="cmc.newSliceAnnotationModeActive()">
                    <new-slice-annotation-form></new-slice-annotation-form>
                    <new-slice-annotation-buttons></new-slice-annotation-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="cmc.showSliceAnnotationModeActive()">
                    <show-slice-annotation-form></show-slice-annotation-form>
                    <show-slice-annotation-buttons></show-slice-annotation-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="cmc.newCoreAnnotationModeActive()">
                    <new-core-annotation-form></new-core-annotation-form>
                    <new-core-annotation-buttons></new-core-annotation-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="cmc.showCoreAnnotationModeActive()">
                    <show-core-annotation-form></show-core-annotation-form>
                    <show-core-annotation-buttons></show-core-annotation-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="cmc.newFocusRegionAnnotationModeActive()">
                    <new-focus-region-annotation-form></new-focus-region-annotation-form>
                    <new-focus-region-annotation-buttons></new-focus-region-annotation-buttons>
                </div>
                <div ng-controller="NewScopeController as nsc" ng-show="cmc.showFocusRegionAnnotationModeActive()">
                    <show-focus-region-annotation-controller></show-focus-region-annotation-controller>
                    <show-focus-region-annotation-buttons></show-focus-region-annotation-buttons>
                </div>
            </div>
        </div>
    </div>
</div>
