<div>
    <div class="prm-form-header">
        <!-- TODO: put real region label here -->
        <h4 class="text-right">focus_region_n</h4>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox" checked disabled>Tumor area
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label>Focus region area</label>
        </div>
        <div class="input-group prm-row-elem">
            <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
            <!--TODO: unit of measure selector -->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 prm-valign prm-label-elem">
            <label>ROI/Core</label>
        </div><!--
      --><div class="col-sm-6 prm-valign prm-form-elem">
            <div class="input-group">
                <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
                <div class="input-group-addon prm-addon">%</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label>Focus region length</label>
        </div>
        <div class="input-group prm-row-elem">
            <input class="form-control prm-text-input" type="number" readonly placeholder="0.00">
            <!-- TODO: insert unit of measure selector -->
        </div>
    </div>
    <div class="form-group row"> <!-- Before creating the shape-->
        <div class="col-sm-7 prm-valign prm-label-elem">
            <label>Pattern 4 area</label>
        </div><!--
     --><div class="col-sm-5 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" title="Draw the shape using the freehand drawing tool">
                <i class="icon-vector_pen"></i>
            </button>
        </div>
    </div>
    <div class="form-group row"> <!-- If the shape exist-->
        <div class="col-sm-7 prm-valign prm-label-elem">
            <label>Pattern 4 area</label>
        </div><!--
     --><div class="col-sm-5 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" title="Delete the shape">
                <i class="icon-trash_can"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" title="Adapt the viewer to show the shape at the maximum size">
                <i class="icon-eye"></i>
            </button>
        </div>
    </div>
    <div class="form-group row"> <!--With the pattern 4 tool active-->
        <div class="col-sm-7 prm-valign prm-label-elem">
            <label>Pattern 4 tool</label>
        </div><!--
     --><div class="col-sm-5 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" title="Discharge shape and abort tool">
                <i class="icon-cross_mark"></i>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-7 prm-valign prm-label-elem">
            <label>Cell count</label>
        </div><!--
     --><div class="col-sm-5 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" title="Count the cells within the box">
                <i class="icon-node_cluster"></i>
            </button>
        </div>
    </div>
    <div class="form-group row"> <!--With the cell count tool active-->
        <div class="col-sm-7 prm-valign prm-label-elem">
            <label>Box tool</label>
        </div><!--
     --><div class="prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" title="Discharge shape and abort tool">
                <i class="icon-cross_mark"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" title="Accept the count">
                <!--to be activate only if the number of cells has been inserted-->
                <i class="icon-check"></i>
            </button>
        </div>
    </div>
    <div class="form-group row"> <!--With the cell count tool active-->
        <div class="prm-row-elem prm-valign">
            <input class="form-control" type="number" required id="spinner" placeholder="Cells count">
        </div>
    </div>
    <div class="form-group row"> <!-- If the count exist-->
        <div class="col-sm-7 prm-valign prm-label-elem">
            <label>Cells count</label>
        </div><!--
     --><div class="col-sm-5 prm-valign prm-form-elem">
            <button class="btn btn-default prm-icon-btn" title="Delete the count">
                <i class="icon-trash_can"></i>
            </button>
            <button class="btn btn-default prm-icon-btn" title="Shows the position of the box tool">
                <i class="icon-eye"></i>
            </button>
        </div>
    </div>
    <div class="form-group row"> <!-- If the count exist-->
        <div class="prm-valign prm-row-elem">
            <label>Total cells per region</label>
        </div><!--
     --><div class="prm-valign prm-row-elem">
            <div class="input">
                <input class="form-control" type="number" readonly>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">Perineural involvement
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">Intraductal carcinoma
            </label>
        </div>
    </div>
    <fieldset class="promort_fieldset">
        <legend class="prm-legend">patterns</legend>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Poorly formed glands
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Cribriform pattern
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Small cell/signet ring
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Hypernephroid pattern
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Mucinous
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Comedo-necrosis
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Ductal carcinoma
            </label>
        </div>
    </fieldset>
</div>