<div>
    <div class="prm-form-header">
        <h4 class="text-right">{{ cmCtrl.slice_label }}</h4>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label> Number of cores</label>
        </div>
        <div class="prm-row-elem">
            <input type="number" class="form-control prm-text-input"
                   ng-model="cmCtrl.totalCores" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label> Number of positive cores</label>
        </div>
        <div class="prm-row-elem">
            <input type="number" class="form-control prm-text-input"
                   ng-model="cmCtrl.positiveCores" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox" ng-model="cmCtrl.highGradePin"
                       ng-disabled="cmCtrl.isReadOnly()">High grade PIN
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox" ng-model="cmCtrl.pah"
                       ng-disabled="cmCtrl.isReadOnly()">PAH
            </label>
        </div>
    </div>
    <fieldset>
        <legend class="prm-legend">inflammation</legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="cmCtrl.chronicInflammation"
                       ng-disabled="cmCtrl.isReadOnly()"> Chronic
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="cmCtrl.acuteInflammation"
                       ng-disabled="cmCtrl.isReadOnly()"> Acute
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="cmCtrl.periglandularInflammation"
                       ng-disabled="cmCtrl.isReadOnly()"> Periglandular
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="cmCtrl.intraglandularInflammation"
                       ng-disabled="cmCtrl.isReadOnly()"> Intraglandular
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="cmCtrl.stromalInflammation"
                       ng-disabled="cmCtrl.isReadOnly()"> Stromal
            </label>
        </div>
    </fieldset>
</div>
