<div>
    <div class="prm-form-header">
        <!-- TODO: put real slice label here -->
        <h4 class="text-right">slice_n</h4>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label> Number of cores</label>
        </div>
        <div class="prm-row-elem">
            <input type="number" class="form-control prm-text-input" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem">
            <label> Number of positive cores</label>
        </div>
        <div class="prm-row-elem">
            <input type="number" class="form-control prm-text-input" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">High grade PIN
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="prm-label-elem checkbox prm-checkbox">
            <label>
                <input type="checkbox">PAH
            </label>
        </div>
    </div>
    <fieldset>
        <legend class="prm-legend">inflammation</legend>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Chronic
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Acute
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Periglandular
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Intraglandular
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Stromal
            </label>
        </div>
    </fieldset>
</div>
