div.prm-valign {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div.viewer_frame {
    background-color: white;
    padding: 5px;
}

div.ome_viewer_simple {
    height: 400px;
}

button.prm-btn-sm {
    width: 100px;
}

#nav_send_report, #nav_logout, #nav_login {
    padding: 7px;
    margin-left: 10px;
}

i.prm-warning-icon {
    color: red;
}

.prm-no-margin-top {
    margin-top: 0;
}

.prm-tree-well {
    background-color: white;
    padding-top:19px;
    padding-left: 10px;
    padding-right: 10px;
}

.prm-form-header {
    padding-bottom: 1px;
    margin: 10px 0 20px;
    border-bottom: 2px solid #eee;
}

.prm-control-row {
    margin-top:30px;
    text-align: center;
}

.prm-control-btn {
    width: 80px;
    height: 35px;
}

.prm-control-btn-lg {
    width: 200px;
    height: 35px;
    margin-bottom:15px;
    margin-left: 20px;
    margin-right: 20px;
}

.prm-label-elem {
    padding-left: 10px;
    padding-right: 5px;
}

.prm-form-elem {
    padding-left: 5px;
    padding-right: 10px;
}

.prm-icon-btn {
    font-size: 17px;
    padding: 0;
    width: 30px;
    height: 30px;
}

.prm-text-input {
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
}

.prm-row-elem {
    padding-left: 10px;
    padding-right: 10px;
}

.prm-addon {
    padding:2px;
}

.prm-checkbox {
    margin: 0;
}

.prm-rotate-90{
    display: inline-block;
    transform: rotate(90deg);
}

.prm-caret{
    margin-left: 3px;
    font-size: 13px;
}

.prm-legend {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-bottom: 3px;
    font-variant: small-caps;
}

/* Hidden placeholder*/
select option[disabled]:first-child {
    display: none;
}

/* Remove browser spin control for input type number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes fullrotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.prm-rotating-spinner {
    display: inline-block;
    animation: fullrotation 1s linear infinite;
}
