div.prm-valign {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div.viewer_frame {
    background-color: white;
    padding: 5px;
}

div.ome_viewer_simple {
    height: 400px;
}

button.prm-btn-sm {
    width: 100px;
}

#nav_send_report, #nav_logout, #nav_login {
    padding: 7px;
    margin-left: 10px;
}

i.prm-warning-icon {
    color: red;
}

/* Hidden placeholder*/
select option[disabled]:first-child {
    display: none;
}

@keyframes fullrotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.prm-rotating-spinner {
    display: inline-block;
    animation: fullrotation 1s linear infinite;
}
