<div class="text-center well">
    <div>
        <div id="navi" class="prm-viewer-navi"></div>
    </div>
    <div id="navi_buttons" class="row">
        <button id="navi_zoom_out" class="btn btn-default prm-icon-btn">
            <i class="icon-magnifying_minus"></i>
        </button>
        <button id="navi_home" class="btn btn-default prm-icon-btn">
            <i class="icon-home"></i>
        </button>
        <button id="navi_zoom_in" class="btn btn-default prm-icon-btn">
            <i class="icon-magnifying_plus"></i>
        </button>
    </div>
</div>