<div>
    QUESTIONNAIRE PANEL {{ qpCtrl.getPanelId() }}
    <slides-sequence-viewer sv-wait-for-it="{{ qpCtrl.getSlidesSetLoadedTriggerLabel('set_a') }}"
                            viewer-ready="{{ qpCtrl.getViewerReadyTrigger('set_a') }}"
                            viewer-identifier="{{ qpCtrl.getSlidesSetPanelIdentifier('set_a') }}"/>
    <questions-set-panel qsp-wait-for-it="{{ qpCtrl.getQuestionsLoadedTriggerLabel() }}"
                         qsp-identifier="{{ qpCtrl.getQuestionsPanelIdentifier('set_a') }}"/>
</div>