<div>
    <div class="page-header text-center">
        <h1>
            <i class="icon-warning prm-warning-icon"></i>
            Authentication error
        </h1>
    </div>
    <div class="text-center">
        <h2>
            <small>
                Please, make sure that both <strong>username</strong> and <strong>password</strong> provided are correct.
            </small>
        </h2>
    </div>
    <div class="text-center" style="padding: 20px">
        <button class="btn btn-default" ng-click="closeThisDialog()">Close</button>
    </div>
</div>