<div class="container">
    <div id="worklist-panel" class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header text-center">
                <h1>CLINICAL ANNOTATION STEPS</h1>
            </div>
            <div id="ac-worklist-details" ng-repeat="step in cc.annotationSteps">
                <div class="well row">
                    <div class="col-sm-7 prm-valign">
                        <div>
                            <p><strong>Step ID:</strong> {{ step.label }}</p>
                        </div>
                    </div><!--
                    Removing blank spaces between DIVs, this will make valign work
                 --><div class="col-sm-5 text-right prm-valign">
                        <div class="prm-valign" ng-show="step.rois_step_reopen_permission">
                            <a class="btn btn-danger prm-worklist-btn"
                            ng-disabled="!step.can_reopen_rois_step"
                            ng-click="cc.resetROIsAnnotationStep(step)">Reopen ROIs review</a>
                        </div><!--
                        Removing blank spaces between DIVs, this will make valign work
                     --><div class="prm-valign">
                            <a class="btn btn-success"
                               ng-click="cc.startAnnotationStep(step)"
                               ng-show="cc.annotationStepPending(step)">Start slide review</a>
                            <a class="btn btn-warning"
                               ng-click="cc.continueAnnotationStep(step)"
                               ng-show="cc.annotationStepInProgress(step)">Continue slide review</a>
                            <a class="btn btn-default"
                               ng-show="cc.annotationStepCompleted(step)"
                               href="#" disabled="true">Slide review completed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>