<div class="container">
    <div id="worklist-panel" class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header text-center">
                <h1>ROIs REVIEW STEPS</h1>
            </div>
            <div id="worklist-details" ng-repeat="step in rc.annotationSteps">
                <div class="well row">
                    <div class="col-sm-7 prm-valign">
                        <div>
                            <p><strong>Step ID:</strong> {{ step.label }}</p>
                            <p>
                                <strong>Quality check: </strong>
                                <span class="prm-not-available-label"
                                      ng-show="!rc.annotationQualityControlExists(step)">
                                    NOT AVAILABLE
                                </span>
                                <span class="prm-qc-passed-label"
                                      ng-show="rc.annotationQualityControlExists(step) && rc.annotationQualityControlPassed(step)">
                                    PASSED
                                </span>
                                <span class="prm-qc-not-passed-label"
                                      ng-show="rc.annotationQualityControlExists(step) && !rc.annotationQualityControlPassed(step)">
                                    NOT PASSED -- {{ step.slide_evaluation.not_adequacy_reason_text }}
                                </span>
                                <span ng-show="rc.annotationQualityControlExists(step) && rc.slideEvaluationNotesExist(step)">
                                    <i class="icon-sheet" tooltip-notes data-toggle="tooltip-notes"
                                        data-placement="right" title="{{  step.slide_evaluation.notes }}"></i>
                                </span>
                            </p>
                        </div>
                    </div><!--
                    Removing blank spaces between DIVs, this will make valign work
                 --><div class="col-sm-5 text-right prm-valign">
                        <div class="prm-valign" ng-show="step.can_reopen">
                            <a class="btn btn-warning prm-worklist-btn"
                               ng-click="rc.resetROIsAnnotationStep(step)">Reopen review</a>
                        </div><!--
                        Removing blank spaces between DIVs, this will make valign work
                     --><div class="prm-valign">
                            <a class="btn btn-success"
                               ng-click="rc.startAnnotation(step)"
                               ng-show="rc.annotationStepPending(step)">Start slide review</a>
                            <a class="btn btn-primary"
                               ng-click="rc.startAnnotation(step)"
                               ng-show="rc.annotationStepInProgress(step)">Continue slide review</a>
                            <a class="btn btn-default"
                               ng-show="rc.annotationStepCompleted(step)"
                               href="#" disabled="true">Slide review completed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
