<div>
    <div class="text-center">
        <h2><small>{{ ssvc.getSlidesSetLabel() }}</small></h2>
    </div>
    <div class="well">
        <div id="navi_buttons" class="row">
            <div class="col-sm-3 col-md-2" ng-show="ssvc.isMultiSlidesSet()"/>
            <div ng-class="ssvc.isMultiSlidesSet() ? 'col-sm-9 col-md-10' : 'col-sm-12 col-md-12'">
                <mini-viewer-navigation-panel viewer-panel-id="{{ ssvc.getViewerID() }}"/>
            </div>
        </div>
        <div id="navi_slides" class="row">
            <div class="col-sm-3 col-md-2 text-center" ng-show="ssvc.isMultiSlidesSet()">
                <div ng-repeat="page in ssvc.getPages()">
                    <a class="btn btn-default prm-slides-list-btn"
                       ng-class="ssvc.isPageActive(page.label) ? 'prm-slides-list-btn-active' : 'prm-slides-list-btn-notactive'"
                       href="#" ng-click="ssvc.goToPage(page.label)">
                        {{ page.label }}
                    </a>
                </div>
            </div>
            <div id="{{ ssvc.getViewerID() }}" class="prm-ome_viewer_simple"
                 ng-class="ssvc.isMultiSlidesSet() ? 'col-sm-9 col-md-10' : 'col-sm-12 col-md-12'" />
        </div>
    </div>
</div>