<div class="row">
    <div class="jumbotron text-center">
        <h1><i class="icon-warning icon2x prm-warning-icon"></i></h1>
        <h1>Page not found!</h1>
    </div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>
                <small>
                    Sorry, it appears that the page you're looking for doesn't exist.
                    Remember, this is an alpha versione of the system and some features are still in development!
                </small>
            </h1>
        </div>
        <div class="col-md-12 text-center" ng-show="ac.isAuthenticated()">
            <a href="/worklist" role="button" class="btn btn-primary btn-lg">Go to worklist</a>
        </div>
    </div>
</div>