{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/libs/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/ngDialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery.bootstrap-touchspin.min.js' %}"></script>

<script type="text/javascript"
        src="{{ view.ome_seadragon_base_url }}ome_seadragon/js/openseadragon.min.js"></script>
<script type="text/javascript"
        src="{{ view.ome_seadragon_base_url }}ome_seadragon/js/openseadragon-scalebar.min.js"></script>
<script type="text/javascript"
        src="{{ view.ome_seadragon_base_url }}ome_seadragon/js/ome_seadragon.min.js"></script>

<script type="text/javascript" src="{% static 'js/promort.min.js' %}"></script>