<nav id="index_navbar" class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ProMort web application</a>
        </div>

        <div class="collapse navbar-collapse" id="promort-nav">
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                    <li>
                        <p class="navbar-text">
                            Welcome {{ user.get_full_name }}
                        </p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="vm.logout()">Logout</a>
                    </li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>