<nav id="index_navbar" class="navbar navbar-default"
     role="navigation" ng-controller="NavbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ProMort web application</a>
        </div>

        <div class="collapse navbar-collapse" id="promort-nav">
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                    <li>
                        <p class="navbar-text">
                            Welcome {{ user.get_full_name }}
                        </p>
                    </li>
                    <li>
                        <a id="nav_send_report" href="#" role="button" class="btn btn-default navbar-btn"
                           ng-dialog="/static/templates/user_report/report_dialog.html"
                           ng-dialog-controller="UserReportController as urc">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span>Send Report</span>
                        </a>
                    </li>
                    <li>
                        <a id="nav_logout" href="#" role="button" class="btn btn-default navbar-btn"
                           ng-click="vm.logout()">Logout</a>
                    </li>
                {% else %}
                    <li><a href="/login" role="button" id="nav_login"
                           class="btn btn-default navbar-btn">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>