{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/libs/normalize.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/libs/mfglabs_iconset.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/libs/ngDialog.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/ngDialog-theme-default.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/ngDialog-theme-plain.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/jquery.bootstrap-touchspin.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap-select.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/promort.css' %}?v={{ view.promort_version }}"/>
