<div>
    <div class="text-center">
        <h3 class="prm-dialog-container">
            <i class="icon-warning icon2x prm-warning-icon"></i>
        </h3>
        <h4>
            <span>
                Are you sure that you want to reopen ROIs annotation for this slide?
                <br>
                If you confirm, you will be automatically redirected to ROIs manager page for the slide.
            </span>
        </h4>
    </div>
    <div class="ngdialog-buttons prm-ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary"
                ng-click="confirm(true)">Yes
        </button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary"
                ng-click="confirm(false)">No
        </button>
    </div>
</div>